/* CSS Document */
#topmenu{

	background-repeat: no-repeat;
	margin-top: 2px;
	margin-bottom:2px;
	background-image:url(../images/topmenu.jpg);
}
#topmenu ul{
	padding-top: 12px;
	padding-bottom: 12px;
}
#topmenu li{
	display: inline;
	padding-top: 9px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color:#CCCCCC;
}
#topmenu a{
	font-weight: bold;
	text-decoration: none;
	color: #B21F25;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 7px;
	padding-left: 0px;	
}
#topmenu a:hover{
	color: #FFFFFF;
	background-image: url(../images/hover.jpg);
	background-repeat: repeat-x;
	padding-top: 11px;
	padding-bottom: 7px;
	padding-right: 5px;
	padding-left: 0px;
}
#topmenu a:active{
	color: #FFFFFF;
	background-image: url(../images/hover.jpg);
	background-repeat: repeat-x;
	padding-top: 11px;
	padding-bottom: 7px;
	padding-right: 5px;
	padding-left: 0px;
}	
	
