#overlay_div
{
background-color:#CBCAB5;
visibility:hidden;
position:absolute;
left:0px;
top:0px;
height:100%;
width:100%;
z-index:200;
-moz-opacity:0.9;
opacity:.90;
filter:alpha(opacity=90);

}
#alert_overlay
{
background-color:#CBCAB5;

position:absolute;
display:none;
left:0px;
top:0px;
height:100%;
width:100%;
z-index:8000;
-moz-opacity:0.4;
opacity:.40;
filter:alpha(opacity=40);

}

#login_div
{
z-index:300;
background-color:#FFFFFF;
display:none;
border:groove 2px #339900;
position:absolute;

}

#popup_div
{
z-index:300;
background-color:#FFFFFF;
display:none;
border:groove 2px #339900;
position:absolute;

}

#alert_div
{
z-index:10;
display:none;
border:solid 1px #999999;
position:absolute;

}